

/* Den här CSS filen kan linkas på varje sida */
/* Den kan innehålla "global" CSS kod som används på varje sida */

/* Google font "Nunito Sans" */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    /* Varför? Se bodyflex.txt [1} */
    min-height: 100vh;
}

header.mobile {
    border-bottom:2px solid gray ;
    display: flex;
    justify-content: space-between;
    padding: 0px .5rem;
}

header.mobile button{
    border: 0;
    background: none;
    cursor: pointer;
}

header.mobile a {
    text-decoration: none;
    color: black;
}

.profilepicture{
    width: 80px;
    height: 80px;
    border-radius: 50%;


}

body {

    /* 
        Body-elementen kommer med 8px margin som standard. 
        Om vi vill at några elementer (tex. bannern i detail.html) når hela vägen till kanten av viewporten, så måste vi ta bort bodys margin.
        Annars kommer det vara 8px whitespace runt hela sidan.
    */
    margin: 0;


    font-family: "Nunito Sans", sans-serif;

    /* Varför? Se bodyflex.txt [2] */
    display: flex;
    flex-direction: column;
}

main {
    /* Varför? Se bodyflex.txt [3] */
    flex-grow: 1;
    padding: 0rem .5rem;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer nav img {
    /* img elementer är inline-elementer som standard. På grund av detta får dem en liten whitespace på botten. Det här leder till att nav-en ser ojämt ut, så jag gör dem block elementer. -Doug */
    display: block;
}

footer nav a {
    text-decoration: none;
}

footer nav a:hover {
    filter: brightness(0);
}

footer .profil-bild {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Responsiveness */

.desktop {
    display: none;
}

@media only screen and (min-width: 700px) {
    .mobile {
        display: none !important;
    }

    .desktop {
        display: block;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    header {
        grid-row: span 2;
        border-right: 1px solid gray;
    }

    header.desktop {
        padding: 1rem;
    }

    header.desktop > a {
        text-decoration: none;
        color: black;
    }

    .desktop-nav-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .desktop-nav-item img {
        width: 40px;
    }

    .desktop-nav-item {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .desktop-nav-item .profil-bild {
        border-radius: 50%;
    }

    main {
        padding: 0rem 5rem;
    }

    footer {
        border-top: 1px solid gray;
        padding: 0rem 5rem;
        align-self: end;
    }
}
