.container{
    display:flex;
    justify-content: space-between;
    /* border: 5px dashed red; */
    gap: 1rem;
    align-items: center;
}

.container > * {
    /* border: 3px dashed green; */
}

#name-likes {
    flex-grow: 1;
}

main button{

    border: 0;
    background: none;
    cursor: pointer;


}
img{
    width: 100%;
}

.stacked{
    position: relative;


}

.stacked-text {
    position: absolute;
    bottom: 25%;
    padding: .5rem;
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.473);
    
}

.stacked-text h2 {
    margin: 0;
}

@media only screen and (min-width: 1000px) {
    main {
        padding: 0rem 10rem !important;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}